@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.container {
  padding-left: 20px;
  height: 500px;
  width: 300px;
  box-shadow: 0 10px 20px black;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", cursive;
}
.image {
  background-image: url("https://images.wallpaperscraft.com/image/man_silhouette_night_barbed_wire_115312_1280x720.jpg");
  height: 100px;
  width: 100px;
  padding: 2rem;
  border-radius: 50%;
  border: 8px solid rgb(0, 2, 1);
  position: relative;
  margin-top: -140px;
  margin-left: 70px;
  box-shadow: 0 0px 20px black;
  background-size: cover;
}
.shape {
  height: 250px;
  width: 400px;
  background-color: black;
  position: relative;
  top: -110px;
  margin-left: -40px;
  box-shadow: 0 0px 20px black;
  transform: rotate(25deg);
}
.details h1 {
  margin-left: -1rem;
  font-weight: bolder;
  padding: 8px;
}
.title {
  color: gray;
  padding: 5px;
  font-weight: bolder;
}
p {
  padding: 7px;
  margin-left: -2rem;
}
.icons {
  padding-top: 2rem;
  padding-right: 2.5rem;
}
.icons i {
  padding-left: 1rem;
  font-size: 20px;
  transition: 0.3s;
}
.icons i:hover {
  transform: scale(1.5);
  cursor: pointer;
}
#github {
  color: black;
}
#fb {
  color: rgb(3, 101, 247);
}
#linkedin {
  color: rgb(6, 78, 211);
}
#ig {
  color: rgb(238, 42, 212);
}
#twitter {
  color: rgb(0, 174, 255);
}
#pinterest {
  color: rgb(248, 6, 6);
}
